.navbar a{
  font-size: large;
  font-family: 'Akaya Kanadaka', cursive;
  letter-spacing: 3px;
}

/* Category */
h2{
    text-align: center;
    padding-left: 10px ;
    padding-top: 30px;
    padding-bottom: 20px;
}

h3{
    text-align: left;
    padding-left: 20% ;
}

.card-body a{
    color:black;
    text-decoration: none;
}

.card-title a:hover{
color:cornflowerblue;
}
  
.card:hover img {
    transform: translateY(-10px);
  }

.nav-item a:hover{
    transform: translateY(-5px);
 
}

.fas{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

.fas:hover{
    color:cornflowerblue;
    transform: translateY(-5px);
}

.dropdown .dropdown-menu {
    display: none;
  }

.dropdown:hover .dropdown-menu {
      display: block;
    }

.card .card-body .spec h3{
    text-align: center;
    font-size: 10px;
}

#gif  {
    color: transparent;
    background-image: url('https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif');
    -webkit-background-clip: text;
}

#gifBtn  {
    color: transparent;
    background-image: url('https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif');
    -webkit-background-clip: text;
}

.navbar .container-fluid .navbar-brand{
    font-family: 'Akaya Kanadaka', cursive;
    font-size:xx-large;
}

h2{
    font-family: 'Akaya Kanadaka', cursive;
    font-size:xx-large;
}

/* Trending */
.trend-cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .trend-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .trend-card .trend-card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .trend-card .trend-card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .trend-card .trend-card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .trend-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  /* Cart Page */

.products-container{
  max-width: 650px;
  justify-content: space-around;
  /* margin: 0 auto; */
  margin-left: 20%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.products-container .fas{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header{
  width:100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom:4px solid lightgrey ;
  margin: 0 auto;
}

.product-title{
  width:45%;
  padding-left: 10px;

}

.price{
  width: 15%;
  border-bottom:1px solid lightgrey ;
  display: flex;
  align-items: center;
}


.total{
  width: 10%;
  border-bottom:1px solid lightgrey ;
  /* padding-right: 20%; */
  display: flex;
  align-items: center;
}

.quantity{
  width: 30%;
  border-bottom:1px solid lightgrey ;
  display: flex;
  align-items: center;
}

.products-container > .product-header >.feedback h5{
  /* width: 30%; */
  /* border-bottom:1px solid lightgrey ; */
  /* padding-left: 20%; */
  /* display: flex; */
  /* align-items:center; */
}

.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.product .fas{
  cursor: pointer;
}

.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img{
  width: 65px;
}

.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle{
  width:30%;
}

.basketTotal{
  width:10%;
}

.carousel-item:hover{
  opacity: 0.7;
/* color: #000; */
 
}

.carousel-item h1{
  color: #fff;
  
}

/* About Us  */


  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }


  .aboutUs > .fas{
  color: #000;
  }

#footer {
    padding: 3% 15%;
    font-family: 'Akaya Kanadaka', cursive;

    color: #fff;
    font-size: large;
}

#footer a{
  color: #fff;
  text-decoration: none;
}
#footer a:hover{
  color: #000;
  text-decoration: none;
}